{% extends 'base.html' %}
{% block title %}Главная страница{% endblock %}

{%block content%}
    <h1 style="text-align:center;">Табло полетов</h1>

    <table align="center" cellspacing="3" border="4" width="10">
        <tr>
            <th>Номер</th>
            <th>Тип самолета</th>
            <th>Город отправления</th>
            <th>Время отправления</th>
            <th>Город прибытия</th>
            <th>Время прибытия</th>
            <th>Статус</th>
        </tr>
        {% for flight in flights %}
        <tr>
            <td><a href="{% url 'flight_scoreboard:current_flight' flight.id %}">{{flight.number}}</a></td>
            <td>{{flight.type_airplane}}</td>
            <td>{{flight.dispatch_city}}</td>
            <td>{{flight.departure_time|date:"d/m/Y H:i"}}</td>
            <td>{{flight.arrival_city}}</td>
            <td>{{flight.arrival_time|date:"d/m/Y H:i"}}</td>
            <td>{{flight.status}}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="pagination" style="text-align:center;">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; первая</a>
                <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>
            <br>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">последняя страница &raquo;</a>
            {% endif %}
        </span>
    </div>

    <br>
    <div style="text-align:center;">
        <a href="{% url 'flight_scoreboard:create_flight' %}"><input type="button" value="создать новый рейс"></a>
        <br>
        <br>
        <form action="." method="GET" name="q">
            {% csrf_token %}
            {{form.as_p}}
        </form>
    </div>

{% endblock %}